:root {
  --padding-xs: 0.5em;
  --padding-sm: 1em;
  --padding-md: 1.5em;
  --padding-lg: 2em;
  --padding-xl: 3em;
  --padding-btn: 0.75em 1.25em;
  --color-primary: black;
  --color-secondary: #eee;
  --color-primary-reverse: white;
  --color-border: #efefef;
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --box-shadow-xs: 0px 2px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-sm: 2px 3px 4px rgba(0, 0, 0, 0.13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}

body {
  margin: 0.75em auto;
  max-width: 1024px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
